[Unit]
Description=Camera and GPIO Service
After=graphical.target

[Service]
Type=simple
User=user
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/user/.Xauthority
ExecStart=/usr/bin/python /home/user/Pilot_Fish/main.py
WorkingDirectory=/home/user/Pilot_Fish/
Restart=always

[Install]
WantedBy=graphical.target

